/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

// Stages hashes for the CheckM2 test database
singularity.runOptions = "--containall --workdir /tmp -B $baseDir/tests/data/version_hashes_1.1.0.json:/usr/local/lib/python3.12/site-packages/checkm2/version/version_hashes_1.1.0.json"

apptainer.runOptions = "-B $baseDir/tests/data/version_hashes_1.1.0.json:/usr/local/lib/python3.12/site-packages/checkm2/version/version_hashes_1.1.0.json"

docker.runOptions = "-v $baseDir/tests/data/version_hashes_1.1.0.json:/usr/local/lib/python3.12/site-packages/checkm2/version/version_hashes_1.1.0.json"

