/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


def reformat_output(filename_in, outputtype, merge_string, meta_){
    /*
        filename_in ConfigObject: The file or directory being renamed. Can be treated as GString but not a file
        outputtype GString|null: string specifying the type of output to run, or null if there is not type
        merge_string Gstring: String to fill in as a tool name
        meta_: metadata passed in

        filename_in appears to be a ConfigObject preventing file methods from being called on the directory.
    */

    def allowed_compression_types = ["gz"]
    def output_type = outputtype
    def file_extension_delimiter = '.'

    def parent = filename_in.tokenize(File.separator)[0..<-1].join(File.separator) ?: null
    def tokens = parent ? filename_in.tokenize(File.separator)[-1].tokenize(file_extension_delimiter) : filename_in.tokenize(file_extension_delimiter)
    output_type ? allowed_compression_types.contains(tokens[-1]) ? tokens.add(tokens.size() - 2, output_type) : tokens.add(tokens.size() - 1, output_type) : null

    def new_name = tokens[0].equals(meta_.id) ? meta_.id : "${meta_.id}.${tokens[0]}"
    def new_fn = "${new_name}.${merge_string}.${tokens[1..-1].join(file_extension_delimiter)}"
    def output = parent ? [parent, new_fn].join(File.separator) : new_fn
    return output
}

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SEQTK_SEQ {
       ext.args = ""
       ext.parameters = params.seqtk
       stageInMode = params.stage_in_mode
       publishDir = [
            path: {["SeqTK", "Seq"].join(File.separator)},
            mode: params.publish_dir_mode,
            pattern: "*.fastq",
                saveAs: { filename ->
                    filename.equals('versions.yml') ? null : reformat_output(filename, null, "seqtk", meta) }

       ]
    }

    withName: CONIFER {
       ext.args = ""
       ext.parameters = params.conifer
       stageInMode = params.stage_in_mode
       publishDir = [
            path: {["Kraken2", "Conifer"].join(File.separator)},
            mode: params.publish_dir_mode,
            pattern: "*.txt",
                saveAs: { filename ->
                    filename.equals('versions.yml') ? null : reformat_output(filename, null, "conifer", meta) }

       ]
    }

    withName: GAMBIT {
       ext.args = ""
       ext.parameters = params.gambit
       stageInMode = params.stage_in_mode
       publishDir = [
            path: {["Gambit"].join(File.separator)},
            mode: params.publish_dir_mode,
            pattern: "*.csv",
                saveAs: { filename ->
                    filename.equals('versions.yml') ? null : reformat_output(filename, null, "gambit", meta) }

       ]
    }

    withName: GANON {
       ext.args = ""
       ext.parameters = params.ganon
       stageInMode = params.stage_in_mode
       publishDir = [
            [
            path: {["Ganon", "Report"].join(File.separator)},
            mode: params.publish_dir_mode,
            pattern: "*${params.ganon.rep_output_suffix}",
                saveAs: { filename ->
                    filename.equals('versions.yml') ? null : reformat_output(filename, null, "ganon", meta) }

            ],
            [
            path: {["Ganon", "TaxonomicRanks"].join(File.separator)},
            mode: params.publish_dir_mode,
            pattern: "*${params.ganon.tax_ranks_suffix}",
                saveAs: { filename ->
                    filename.equals('versions.yml') ? null : reformat_output(filename, null, "ganon", meta) }

            ],
            [
            path: {["Ganon", "Logs"].join(File.separator)},
            mode: params.publish_dir_mode,
            pattern: "*.log",
                saveAs: { filename ->
                    filename.equals('versions.yml') ? null : reformat_output(filename, null, "ganon", meta) }

            ],
            [
            path: {["Ganon", "AllClassifications"].join(File.separator)},
            mode: params.publish_dir_mode,
            pattern: "*${params.ganon.all_suffix}",
                saveAs: { filename ->
                    filename.equals('versions.yml') ? null : reformat_output(filename, null, "ganon", meta) }

            ]

       ]
    }

    withName: KRONA {
       ext.args = ""
       ext.parameters = params.krona
       stageInMode = params.stage_in_mode
       publishDir = [
            path: {["Kraken2", "Krona", "Plot"].join(File.separator)},
            mode: params.publish_dir_mode,
            pattern: "*.html",
            saveAs: { filename ->
                    filename.equals('versions.yml') ? null : reformat_output(filename, null, "conifer", meta) }
            ]
    }


    withName: KRAKEN_TOOLS {
       ext.args = ""
       ext.parameters = params.kraken_tools
       stageInMode = params.stage_in_mode
       publishDir = [
            path: {["Kraken2", "Krona", "Transformed"].join(File.separator)},
            mode: params.publish_dir_mode,
            pattern: "*.txt",
            saveAs: { filename ->
                    filename.equals('versions.yml') ? null : reformat_output(filename, null, "conifer", meta) }
       ]

    }

    
    withName: KRAKEN2 {
        ext.args = ""
        ext.parameters = params.kraken2
        stageInMode = params.stage_in_mode
        publishDir = [
            [
                path: { ["Kraken2", "Classified"].join(File.separator) },
                mode: params.publish_dir_mode,
                pattern: "*.${params.kraken2.classified_suffix}*",
                saveAs: { filename ->
                    filename.equals('versions.yml') ? null : reformat_output(filename, null, "kraken2", meta) }
            ],
            [
                path: { ["Kraken2", "UnClassified"].join(File.separator) },
                mode: params.publish_dir_mode,
                pattern: "*.${params.kraken2.unclassified_suffix}*",
                saveAs: { filename ->
                    filename.equals('versions.yml') ? null : reformat_output(filename, null, "kraken2", meta) }
            ],
            [
                path: { ["Kraken2", "Report"].join(File.separator) },
                mode: params.publish_dir_mode,
                pattern: "*.kraken2.${params.kraken2.report_suffix}.txt",
                saveAs: { filename ->
                    filename.equals('versions.yml') ? null : reformat_output(filename, "screen", "kraken2", meta) }
            ],
            [
                path: { ["Kraken2", "Output"].join(File.separator) } ,
                mode: params.publish_dir_mode,
                pattern: "*.${params.kraken2.output_suffix}.txt",
                saveAs: { filename ->
                    filename.equals('versions.yml') ? null : reformat_output(filename, null, "kraken2", meta) }
            ]

        ]
    }
    

}
